[Unit]
Description=nostalgic_counter_server
Documentation=https://github.com/kako-jun/nostalgic_counter_server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=hoge
WorkingDirectory=/home/hoge
ExecStart=/home/hoge/.deno/bin/deno run --allow-all --unstable /home/hoge/repos/2022/nostalgic_counter_server/main.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
